html,body {direction:rtl; text-align:right; }
.post-detail {float:right; margin-left:15px;margin-top:0px;}
.post-detail .fa{float: right;}
.post-detail span{margin-left:5px;}
.menu-title-text { padding-right: 5px;}
.menu-title-line {float: right}