@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel.woff') format('woff'),
    url('../fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Bold.eot');
    src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Black.eot');
    src: url('../fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Black.woff') format('woff'),
    url('../fonts/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

html, body {
    font-family: Sahel, sans-serif;
    font-size: 12px;
    background-color: #fafbfd;
    color: #333333;
    direction: rtl;
    text-align: right;
    height: 100%;
}

.header {
    background-color: #61a2d7;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 11px;
    height: 60px;
    border-top: 3px solid #5292c6;
}

.sub-header {
    background-color: #5e5e5f;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 11px;
    height: 62px;
    overflow: hidden;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-split {
    float: right;
    padding: 0px 0px 0px 0px;
    margin: 15px 10px 0px 10px;
    font-size: 28px;
}

.header-icon {
    width: 24px;
}

.header-split a{
    color: #FFFFFF;
}

.header-split span:hover{
    cursor: pointer;
    color: #eeeeee;
    transition: all 0.2s ease;
}

.header-split a:hover .header-icon{
    color: #F6B352;
}

.alert-count {
    float: right;
    background-color: #f0ac3f;
    padding: 5px 5px 1px 5px;
    border-radius: 50%;
    font-size: 10px;
    margin-top: -4px;
    margin-left: -8px;
    z-index: 1;
    position: relative;
}

.yellow-color-1 {
    color: #F6B352;
}

.header-icon {
    font-size: 20px !important; margin-top: 3px;
}

.pen {
    background-color: #f0ac3f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
}

.pen:hover {
    background-color: #eba431;
    transition: all 0.2s ease;
}

.pen img{
    width: 34px;
    margin: 8px 8px 0px 0px;
}

.main-content {
    width: 100%;
    margin-top: 20px;
}

.panel-status {
    text-align: center !important;
    padding: 25px 0px 25px 0px;
    white-space: nowrap;
}

.post-view {
    line-height: normal;
}

.panel-body-status {
    font-size: 48px;
    color: #f0ac3f;
    text-align: center;
}

.panel-body-detail {
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.panel-heading {
    text-align: right;
    border: none;
    font-weight: bold
}

.panel-default > .panel-heading {
    padding: 25px 25px 10px 25px;
    background-color: #ffffff;
    font-size: 14px;
    /*border-bottom: 3px solid #f0ac3f;*/
    /*border-bottom: 1px solid #eeeeee*/
}

.panel-default {
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    direction: rtl;
}

#chart_visitors {
    width: 100% !important;
    height: 400px !important;
}

.last-visitors {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 300px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    direction: ltr;
}

.last-visitors-lock {
    height: 300px;
    width: inherit;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    margin-bottom: -300px;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.last-visitors-lock .icon{
    font-size: 82px; color: #000000; margin-top: 100px;
}

.last-visitors-lock .message{
    font-size: 24px; color: #000000;
}

.last-visitors th,.last-visitors td {
    text-align: center !important;
}

.last-visitors th{
    font-size: 12px;
    font-weight: bold;
    background: #FDFDFD;
}

.last-visitors-item {
    padding-left: 10px;
    color: #333333;
    float: right
}

.last-visitors-item .fa {
    font-size: 18px;
    color: #f0ac3f;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f4f4f4;
    text-align: right;
}

.table-bordered {
    border: 1px solid #f4f4f4;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    border-top: none;
    direction: rtl;
    text-align: right;
    vertical-align: middle;
}

.table {
    direction: rtl;
}

.fa-bulk-dropdown {
    padding: 2px 0px 2px 0px;
    float: right;
    border: 1px solid #CCCCCC;
    margin-left: 13px;
}

.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open > .dropdown-toggle.btn-login {
    background-color: #F6B352;
    color: #ffffff;
}

.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn {
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 1px;
    font-size: 12px;
    padding: 8px 14px;
    transition: all 0.2s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-sm {
    border-radius: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/* btn default */
.btn-default {
    background: #FDFDFD;
    color: #333333;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #FAFAFA !important;
    border: 1px solid #CCC !important;
}

.btn-default:active, .btn-default.active {
    background: #FDFDFD;
    box-shadow: none;
}

/* btn primary */
.btn-primary {
    background: #61a2d7;
    color: #FFFFFF;
    border:1px solid #61a2d7;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #4f98d7 !important;
}

.btn-primary:active, .btn-primary.active {
    background: #4f98d7;
    box-shadow: none;
}


.display-none {
    display: none;
}



.dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-color: #f4f4f4;
    font-size: 12px;
    padding: 2px 0;
}

.dropdown-menu>li>a {
    padding: 5px 10px;
}

.dropdown-menu>li>a:hover {
    background-color: #FAFAFA;
}

.last-visitors-detail {
    display: none;
}

.last-visitors-default-col {
    display: table-cell;
}

.align-center {text-align: center !important;}
.ltr {direction: ltr !important;}

.label {
    font-size: 12px;
    font-weight: normal;
    border-radius: 1px;
}
.label-green {background-color: #AACD6E}
.label-yellow {background-color: #f0ac3f}
.label-blue {background-color: #61a2d7}

.bold {font-weight: bold}

.form-control {
    border-radius: 1px;
    border-color: #cccccc;
    box-shadow: none;
    outline: none;
    font-size: 12px;
    color: #333333;
}

input, select {
    direction: rtl;
    outline: none;
}

.control-label {
    padding-bottom: 5px;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {font-weight: normal !important; font-size: 12px !important; text-align: right !important; direction: rtl !important;}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice {font-size: 12px;}

.breadcrumb {
    background-color: #FFFFFF;
    direction: rtl;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.clear {
    clear: both
}

.center-text {
    text-align: center;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
    height: 1px; overflow: hidden;
}

.post-more-section {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.post-more-section hr{
    margin: 0px;
}

.post-more-btn {
    width: 200px;
    margin-top: -7px;
}

#post-short_text, #post-more_text {
    height: 250px !important;
}

.action-column{
    text-align:center !important;
}

.auto-fit, .fit {
    width:1%;
    white-space:nowrap;
}

.low-display-priority {}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 4px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 5px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.btn-create-post {float: left; margin-top: -50px;}

.alert {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); border: none; border-radius: 0px;}
.alert-warning {background-color: #f3bf41; color: #FFFFFF}
.alert-success {background-color: #5cb85c; color: #FFFFFF}
.alert-danger {background-color: #d9534f; color: #FFFFFF}

.action-buttons-panel {margin-bottom: 7px;}
.raspina-menu {margin-top: 5px; width: 225px; padding:18px 5px 0px 5px;}
.raspina-menu li{float: left; width: 70px; margin: 0px 0px 15px 0px; text-align: center;}
.raspina-menu li>a:hover{background-color: inherit; color: inherit;}
.raspina-menu .fa:hover, .raspina-menu li:hover{color: #666666}
.raspina-menu span{font-size: 32px;}
.menu-title {font-size: 9px; text-align: center; margin-top: 7px;}
.sub-menu {}
.sub-menu .fa{font-size: 32px;}
.sub-menu .sub-menu-title{margin-top: 8px;}

.newsletter-log-detail {margin-top: 7px; display: none}
/**
@media ...
*/
@media screen and (max-width: 980px) {

    #chart_visitors {
        height: 290px !important;
    }

}
@media screen and (max-width: 650px) {

    #chart_visitors {
        height: 250px !important;
    }


}
@media screen and (max-width: 570px) {

    #chart_visitors {
        height: 250px !important;
    }

    .last-visitors-default-col {
        display: none;
    }

    .last-visitors-detail {
        display: table-cell;
    }

}
@media screen and (max-width: 480px) {

    #chart_visitors {
        height: 200px !important;
    }

    .panel-heading {
        text-align: center;
    }

    .last-visitors-default-col {
        display: none;
    }

    .last-visitors-detail {
        display: table-cell;
    }

    .last-visitors table {font-size: 8px;}
    .auto-fit {display: none}
    .low-display-priority {display: none}
}