@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel.woff') format('woff'),
    url('../fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Bold.eot');
    src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Black.eot');
    src: url('../fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Black.woff') format('woff'),
    url('../fonts/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

html, body {
    font-family: Sahel, sans-serif;
    font-size: 12px;
    line-height: 1.9;
    background-color: #f1f1f1;
    color: #333333;
    direction: ltr;
    text-align: right;
    height: 100%
}

.rs-name,.rs-version {
    text-align: center;
}

.top-head {
    background-color: #F6B352;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 11px;
    height: 60px;
    overflow: hidden;
}

.top-head a,.top-head a:hover,.top-head a:active{color: #FFFFFF;}

.top-item {
    height: 100%;
}
.top-item li {
    font-size: 24px;
    background-color: #F6B352;
    float: right;
    height: 100%;
    margin-right: 1px;
}

.top-item li:hover {
    background-color: #F68657;
    transition: background-color 0.1s linear;
    cursor: pointer;
}

.top-item li .fa {
    padding: 17px 20px 0px 20px;
}

.item-notification {
    font-size: 11px;
    background-color: #F68657;
    color: #ffffff;
    float: left;
    padding: 20px 4px 0px 4px;
    height: 100%;
    font-weight: bold;
}

.footer {
    font-size: 11px;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    color: #ffffff;
}

.copyright {
    padding-right: 82px;
    color: #333333;
    font-size: 12px;
}

.top-box {
    background-color: #FFFFFF;
    border-radius: 2px;
    border-right: 3px solid #F68657;
    padding: 0px;
}

.top-box .icon {
    font-size: 44px;
    background-color: #F6B352;
    color: #FFFFFF;
    height: 100%;
    padding: 10px 10px 10px 10px;
    float: right;
}

.top-box .top-box-title {
    font-size: 13px;
    font-weight: bold;
    float: right;
    color: #F6B352;
    padding: 10px 10px 0px 0px;
}

.top-box .top-box-desc {
    font-size: 13px;
    font-weight: bold;
    float: right;
    color: #F6B352;
    padding: 10px 10px 0px 0px;
}

.clear {
    clear: both
}

.raspina {
    background-color: #F68657;
    padding: 10px 20px 10px 20px;
    width: 72px;
}

.rs-tools {
    width: 72px;
    min-height: 100%;
    height: auto;
    background: #383A3F;
    color: #ffffff;
    position: absolute;
    right: 0px;
}

a, a:visited,a:active {
    text-decoration: none;
}

a:hover{
    color: #000000;
}

.rs-tools a{color: #FFFFFF; text-decoration: none;}

.rs-icon {
    width: 100%;
    text-align: center;
    font-size: 32px !important;
}

.breadcrumb {background-color: #FFFFFF; direction: rtl}

.rs-tool-title {
    font-size: 9px;
    text-align: center;
    width: 100%
}

.rs-item {
    transition: background-color 0.1s linear;
    padding: 10px 0px 5px 0px;
}

.rs-item:hover {
    background: #F68657;
    cursor: pointer;
}

.main-content {
    width: 100%;
    min-height: 800px;
    margin-top: 20px;
}

.panel-heading {
    text-align: right;
    direction: rtl;
    border: none;
    font-weight: bold
}

.panel-default > .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #F6B352;
    border-bottom: 1px solid #eeeeee
}

.panel-default {
    border: none;
    border-radius: 2px;
}

.panel {
    box-shadow: none
}

.panel-body {
    text-align: right;
    direction: rtl;
    overflow: hidden
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f4f4f4;
}

.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
     padding: 8px;
     line-height: 1.42857143;
     vertical-align: top;
     border-top: none;
     direction: rtl; text-align: right
 }

.table-bordered {
    border: 1px solid #f4f4f4;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

thead th {
    text-align: right;
    font-weight: bold
}

td {
    direction: rtl;
    text-align: right;
    border: none
}

.last-visited {
    font-size: 11px;
}

.last-visitors {
    width: 100%;
    height: 362px;
    overflow-y: scroll
}

.last-visitors table {
    padding-left: 13px;
}


.last-visitors-item {
    padding-left: 10px;
    color: #333333;
    float: right;
}

.user-box-bg {
    width: 100%;
    max-height: 120px;
    overflow: hidden
}

.user-box-bg div {
    color: #ffffff;
    font-size: 11px;
    width: 100%;
    background-color: #383A3F;
    opacity: 0.6;
    padding: 5px;
    margin-bottom: -30px;
}

.user-avatar {
    border-radius: 50%;
    border: 4px solid #ffffff;
    max-width: 80px;
    max-height: 80px;
    height: 80px;
    float: left;
    z-index: 1;
    position: relative;
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.user-detail {
    font-size: 11px;
    margin-right: 5px;
    margin-top: 5px;
    float: right
}

.btn, .btn-sm, .btn-lg {
    font-size: 12px !important;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 15px;
}

.btn-default {
    background-color: #efefef
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #cccccc;
}

.col-login {
    /*height: 100vh;*/
    margin-top: 50px;
}

.login-box {
}

.fa-bulk-dropdown {padding: 2px 0px 2px 0px; float: right; border: 1px solid #CCCCCC; margin-left: 13px;}

.login-head {
    background-color: #F68657;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 2px 2px 0px 0px
}

.login-lock {
    background-color: #F6B352;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
}

.login-top-text {
    font-size: 16px;
    padding-bottom: 5px;
}

.form-control {
    border-radius: 2px;
    border-color: #EEEEEE;
    box-shadow: none;
    outline: none;
    font-size: 12px;
    color: #333333;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

.btn-login {
    background-color: #F68657;
    width: 100%;
    color: #ffffff
}

.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open > .dropdown-toggle.btn-login {
    background-color: #F6B352;
    color: #ffffff;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {font-weight: normal !important; font-size: 12px !important; text-align: right !important; direction: rtl !important;}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice {font-size: 12px;}
.mce-txt,.mce-text {font-size: 12px !important;}
.alert {direction: rtl}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{ background-color: #F6B352; border-color: #F68657}
.sub-item {display: none}
.sub-item .rs-item{background-color: #636363}
.sub-item .rs-item:hover{background-color: #f6b352}
.sub-item .rs-icon{font-size: 18px !important;}
.group-items:hover {}
.rs-active {background-color: #F68657 !important;}

table.detail-view th {
    width: 15%;
}

.rs-open .sub-item {display: block !important;}


    /* */
.summary {display: none}
/*tr td:last-child {text-align: center !important;}*/
tr td:last-child .glyphicon{font-size: 14px; padding: 0% 2% 0% 2%}
.newsletter-all-list {width: 100%;}
.input-ltr-dir {direction: ltr; text-align: left}
.btn-file,.fileinput-remove {padding: 8px 8px 9px 8px; cursor: pointer}

.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.fileinput-remove {border-radius: 0px !important; margin-right: 0px !important;}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.upload-box-link {width: 100%; direction: ltr; text-align: left; padding: 2px;}

.captcha-img {text-align: center}
.captcha-img img{cursor: pointer;}
.captcha {cursor: pointer; text-align: center}

.rsabout {text-align:center; padding-top:20px;}
.rsabout a{color:#005f6b;}
/* */
