html, body, .panel-heading, .breadcrumb, .form-control, .help-block, .table, option {
    text-align: left;
    direction: ltr
}

.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: left;
    direction: ltr
}

th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    text-align: left;
    direction: ltr;
}

.fa-bulk-dropdown {
    float: left;
    margin-right: 13px;
    margin-left: 0px;
}

.center { text-align: center !important;}