@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel.woff') format('woff'),
    url('../fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Bold.eot');
    src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Black.eot');
    src: url('../fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Black.woff') format('woff'),
    url('../fonts/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

html, body {
    font-family: Sahel, sans-serif;
    font-size: 12px;
    background-color: #333D4B;
    color: #333333;
    /*direction: rtl;*/
    /*text-align: right;*/
    height: 100%;
}

.header {
    background-color: #61a2d7;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 11px;
    height: 60px;
    border-top: 3px solid #5292c6;
}

.sub-header {
    background-color: #5e5e5f;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 11px;
    height: 62px;
    overflow: hidden;
}

.raspina-profile {
    margin-top: 5px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    color: #000000
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user-profile-big {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.user-profile-h {
    text-align: center;
    margin-top: 10px;
}

.user-profile-name {
    padding: 10px 0px 0px 0px;
}

.user-detail-h {
    float: right;
    width: 195px;
}

.user-profile-a {
    display: block;
    width: 93%;
    margin: 0 auto;
    margin-top: 8px;
    /*float: none;*/
}

.header-split {
    float: right;
    padding: 9px 20px 0px 0px;
    /*margin: 15px 10px 0px 10px;*/
    font-size: 28px;
}

.header-icon {
    width: 24px;
}

.header-split a {
    color: #52C7BB;
}

.header-split span:hover {
    cursor: pointer;
    color: #51bdb1;
    transition: all 0.2s ease;
}

.header-split a:hover .header-icon {
    color: #ffffff;
}

.alert-count {
    float: right;
    background-color: #FF7D66;
    color: #FFFFFF;
    padding: 5px 5px 1px 5px;
    border-radius: 50%;
    font-size: 10px;
    margin-top: -4px;
    margin-left: -8px;
    z-index: 1;
    position: relative;
}

.yellow-color-1 {
    color: #F6B352;
}

.header-icon {
    font-size: 20px !important;
    margin-top: 3px;
}

.pen {
    width: 100%;
    height: 28px;
    border-radius: 2px !important;
    cursor: pointer;
    border: none !important;
    padding: 0px !important;
    float: none !important;
    display: block !important;
    background-color: #52C7BB
}

.pen:hover {
    background-color: #51bdb1;
    transition: all 0.2s ease;
    border: none !important;
}

.pen img {
    float: right;
    width: 22px;
    margin: 5px 10px 0px 0px;
}

.pen div {
    float: right;
    color: #ffffff;
    padding: 8px 15px 0px 15px;
}

.main-content {
    /*width: 100%;*/
    margin-top: 20px;
}

.panel-status {
    text-align: center !important;
    padding: 25px 0px 25px 0px;
    white-space: nowrap;
}

.post-view {
    line-height: normal;
}

.panel-body-status {
    font-size: 48px;
    color: #f0ac3f;
    text-align: center;
}

.panel-body-detail {
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.panel-body {
    line-height: 18px;
}

.panel-heading {
    /*text-align: right;*/
    border: none;
    font-weight: bold
}

.panel-default > .panel-heading {
    padding: 25px 25px 10px 25px;
    background-color: #ffffff;
    font-size: 14px;
    /*border-bottom: 3px solid #f0ac3f;*/
    /*border-bottom: 1px solid #eeeeee*/
}

.panel-default {
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    /*direction: rtl;*/
}

#chart_visitors {
    width: 100% !important;
    height: 400px !important;
}

.last-visitors {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*direction: ltr;*/
}

.last-visitors-lock {
    height: 300px;
    width: inherit;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    margin-bottom: -300px;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.last-visitors-lock .icon {
    font-size: 82px;
    color: #000000;
    margin-top: 100px;
}

.last-visitors-lock .message {
    font-size: 24px;
    color: #000000;
}

.last-visitors th, .last-visitors td {
    text-align: center !important;
}

.last-visitors th {
    font-size: 12px;
    font-weight: bold;
    background: #FDFDFD;
}

.last-visitors-item {
    padding-left: 10px;
    color: #333333;
    float: right
}

.last-visitors-item .fa {
    font-size: 18px;
    color: #f0ac3f;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f4f4f4;
    /*text-align: right;*/
}

.table-bordered {
    border: 1px solid #f4f4f4;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    border-top: none;
    /*direction: rtl;*/
    /*text-align: right;*/
    vertical-align: middle;
}

.table {
    /*direction: rtl;*/
}

.fa-bulk-dropdown {
    padding: 2px 0px 2px 0px;
    float: left;
    border: 1px solid #CCCCCC;
    margin-right: 13px;
}

.fa-bulk-button {
    float: left;
    margin-bottom: 15px;
}

/*.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open > .dropdown-toggle.btn-login {*/
/*background-color: #F6B352;*/
/*color: #ffffff;*/
/*}*/

.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.btn {
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 1px;
    font-size: 12px;
    padding: 8px 14px;
    transition: all 0.2s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-sm {
    border-radius: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/* btn default */
.btn-default {
    background: #FDFDFD;
    color: #333333;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #FAFAFA !important;
    border: 1px solid #CCC !important;
}

.btn-default:active, .btn-default.active {
    background: #FDFDFD;
    box-shadow: none;
}

/* btn primary */
.btn-primary {
    background: #61a2d7;
    color: #FFFFFF;
    border: 1px solid #61a2d7;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #4f98d7 !important;
}

.btn-primary:active, .btn-primary.active {
    background: #4f98d7;
    box-shadow: none;
}


.display-none {
    display: none;
}


.dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-color: #f4f4f4;
    font-size: 12px;
    padding: 2px 0;
}

.dropdown-menu > li > a {
    padding: 5px 10px;
}

.dropdown-menu > li > a:hover {
    background-color: #FAFAFA;
}

.last-visitors-detail {
    display: none;
}

.last-visitors-default-col {
    display: table-cell;
}

.center {
    text-align: center !important;
}

.ltr {
    direction: ltr !important;
}

.label {
    font-size: 12px;
    font-weight: normal;
    border-radius: 1px;
}

.label-green {
    background-color: #AACD6E
}

.label-yellow {
    background-color: #f0ac3f
}

.label-blue {
    background-color: #61a2d7
}

.bold {
    font-weight: bold
}

.form-control {
    border-radius: 1px !important;
    border-color: #cccccc;
    box-shadow: none;
    outline: none;
    font-size: 12px;
    color: #333333;
}

.input-group-addon:first-child {
    border-right: 1px solid #CCCCCC;
}

.input-group-addon {
    font-size: 11px;
}

input, select {
    /*direction: rtl;*/
    outline: none;
}

.control-label {
    padding-bottom: 5px;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

code, pre {
    text-align: left !important;
    direction: ltr !important;
}

span[class*="mce"], div[class*="mce"], p[class*="mce"] {
    font-family: Sahel !important;
    font-size: 12px !important;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    font-weight: normal !important;
    font-size: 12px !important;
    border-radius: 2px !important;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    font-size: 12px;
}

.select2-container--krajee .select2-selection {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #555555;
    font-size: 14px;
    outline: 0;
    margin-bottom: 12px;
    text-align: right !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
}

.select2-selection__choice {
    border-radius: 0px !important;
}

.breadcrumb {
    background-color: #FFFFFF;
    /*direction: rtl;*/
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#post-date-section {
    float: left;
}

#post-date-section div {
    float: right;
    margin-right: 5px;
}

.clear {
    clear: both
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
    height: 1px;
    overflow: hidden;
}

.raspina-logo {
    background-image: url("../img/raspina.svg");
    width: 40px;
    height: 40px;
    background-size: cover;
    float: left;
}

.raspina-name {
    /*font-weight: bold;*/
    font-size: 18px;
    color: #ffffff;
    float: left;
    padding-top: 12px;
}

.v-center {
    align-items: center !important;
    display: flex;
    margin: 0 auto;
}

.v-center div {
    margin: 0 auto;
}

.post-more-section {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.post-more-section hr {
    margin: 0px;
}

.post-more-btn {
    width: 200px;
    margin-top: -7px;
}

#post-short_text, #post-more_text {
    height: 250px !important;
}

.action-column {
    text-align: center !important;
}

.auto-fit, .fit {
    width: 1%;
    white-space: nowrap;
}

.low-display-priority {
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 4px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 5px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.btn-create-post {
    float: left;
    margin-top: -50px;
}

.alert {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0px;
}

.alert-warning {
    background-color: #f3bf41;
    color: #FFFFFF
}

.alert-success {
    background-color: #5cb85c;
    color: #FFFFFF
}

.alert-danger {
    background-color: #d9534f;
    color: #FFFFFF
}

.action-buttons-panel {
    margin-bottom: 7px;
    direction: rtl
}

.raspina-menu {
    margin-top: 5px;
    width: 225px;
    padding: 18px 5px 0px 5px;
}

.raspina-menu li {
    float: left;
    width: 70px;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.raspina-menu li > a:hover {
    background-color: inherit;
    color: inherit;
}

.raspina-menu .fa:hover, .raspina-menu li:hover {
    color: #666666
}

.raspina-menu span {
    font-size: 32px;
}

.menu-title {
    font-size: 9px;
    text-align: center;
    margin-top: 7px;
}

.sub-menu {
}

.sub-menu .fa {
    font-size: 32px;
}

.sub-menu .sub-menu-title {
    margin-top: 8px;
}

.newsletter-log-detail {
    margin-top: 7px;
    display: none
}

.statistics-grade-detail {
    margin-top: 5px;
    font-weight: bold
}

.comment-text {
    font-size: 11px;
    color: #666666;
    border-right: 4px solid #61a2d7;
    padding: 10px;
    margin-right: 15px;
    margin-top: 5px;
}

.comment-preview {
    font-size: 12px;
    margin-right: 15px;
    margin-top: 5px;
    line-height: 20px;
}

.template {
}

.template-snapshot {
}

.template-snapshot img {
    max-width: 100%
}

.template-detail {
    text-align: left;
    direction: ltr
}

.login-body {
    background-color: #5292c6;
    color: #FFFFFF
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.login-title span {
    font-size: 12px;
    padding-top: 20px;
}

.developit-captcha {
    text-align: center
}

.login-body input {
    border: none !important;
}

.login-form .help-block {
    margin-top: 8px;
    color: #f0ac3f
}

.login-form .btn-login {
    width: 100%
}

.login-forget {
    margin-top: 25px;
}

.login-forget a {
    color: #FFFFFF
}

.mce-branding-powered-by {
    display: none !important;
}

.developit-captcha img {
    cursor: pointer;
    border-radius: 3px
}

caption, th, td {
    text-align: inherit !important;
    font-weight: normal;
}

.base-container {
    background-color: #333333;
    width: 100%;
}

.main-container {
    float: left;
    padding: 0px;
    background-color: #F7F7F7;
    min-height: 100vh;
}

.menu-container {
    background-color: #333D4B;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.new-post {
    width: fit-content;
    padding-top: 11px;
    margin-right: 20px;
    float: right
}

.rs-profile-content {
    padding-right: 9%;
    padding-left: 9%;
    margin-top: 25px;
    color: #B3BEC4;
}

.rs-profile-content:hover {
    background-color: #2B3543;
}

.rs-profile-image {
    float: right
}

.rs-profile-image img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid #F1F3F5
}

.rs-profile-text {
    float: right;
    padding-top: 6px;
    padding-right: 12px;
    line-height: 20px;
}

.top-main-container {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.top-menu {
    background-color: #4198D3;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.menu-item {
    margin: 15px 0px 0px 0px;
}

.menu-item li {
    padding: 12px 0px 15px 0px !important;
    font-size: 12px;
    border-right: 4px solid #333D4B;
    transition: all 0.1s ease;
}

.menu-item li a {
    color: #B3BEC4;
    text-decoration: none;
}

.menu-item li:hover {
    background-color: #2B3543;
    border-color: #4198D3
}

.menu-item-child span {
    padding: 0px 9% 0px 15px;
    font-size: 20px;
    float: right
}

.menu-item-child div {
    margin-top: 4px;
}

.sm-menu {
    display: none;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    background-color: #333D4B;
    text-align: center;
    z-index: 1;
}

.sm-menu a {
    color: #B3BEC4;
    font-size: 24px;
    text-decoration: none
}

.sm-menu span {
    color: #B3BEC4;
    font-size: 22px;
    border-bottom: 3px solid #333D4B;
    margin-top: 8px;
    padding: 0px 12px 6px 12px;
    transition: all 0.1s ease;
}

.sm-menu span:hover {
    border-color: #4198D3;
}

.menu-section-2 {
    display: none;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.menu-section-2 a {
    display: inline-block;
}

.menu-section-2 span {
    padding: 20px 20px 12px 20px;
    margin: 10px 12px 10px 12px;
    border-bottom: none;
}

.menu-section-2 a:hover {
    color: #4198D3 !important;
}

.menu-section-2-menu-title {
    font-size: 12px !important;
    padding: 0px 0px 0px 0px !important;
}

.down-menu {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 18px !important;
    color: #FF7D66 !important;
    margin-bottom: 20px !important;
}

.menu-section-1 .alert-count {
    padding: 2px 5px 3px 5px;
}

.menu-section-2 .alert-count {
    padding: 2px 5px 4px 5px;
}

.auto-saved-btn {
    padding: 3px 5px 3px 5px;
    float: left;
    margin-top: -5px
}

.share-link, .share-link-copy {
    cursor: pointer;
    direction: ltr;
}

.input-group-share-link {
    margin-top: 10px;
}

.share-link input {

    padding: 7px;
    text-align: left;
    direction: ltr;
}
/**
@media ...
*/


/* */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .menu-container, .top-main-container {
        display: none
    }

    .main-container {
        padding-top: 25px;
        padding-bottom: 40px
    }

    .main-container {
        width: 100%
    }

    .sm-menu {
        display: block
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/* */


@media screen and (max-width: 980px) {

    /*#chart_visitors {*/
    /*height: 290px !important;*/
    /*}*/

}

@media screen and (max-width: 650px) {

    /*#chart_visitors {*/
    /*height: 250px !important;*/
    /*}*/


}

@media screen and (max-width: 570px) {

    /*#chart_visitors {*/
    /*height: 250px !important;*/
    /*}*/
    /*.last-visitors-default-col {*/
    /*display: none;*/
    /*}*/
    /*.last-visitors-detail {*/
    /*display: table-cell;*/
    /*}*/

}

@media screen and (max-width: 480px) {

    /*#chart_visitors {*/
    /*height: 200px !important;*/
    /*}*/
    /*.panel-heading {*/
    /*text-align: center;*/
    /*}*/
    /*.last-visitors-default-col {*/
    /*display: none;*/
    /*}*/
    /*.last-visitors-detail {*/
    /*display: table-cell;*/
    /*}*/
    /*.last-visitors table {font-size: 8px;}*/
    /*.auto-fit {display: none}*/
    /*.low-display-priority {display: none}*/
}
